<div class="ui grid">
  <!--<div class="three column row">-->
      <div *ngFor="let debt of debts; let i=index" class="four wide column">
          <div class="ui card">
            <div class="content">
              <div class="header">Rs. {{debt.amount}}</div>
              <div class="meta">
                <span>by {{debt.owedby}}</span>
              </div>
              <p>{{i}}</p>
            </div>
            <div *ngIf="!debt.isClosed" (click)="closeDebt(i)" class="ui bottom attached button">
              <i class="check square icon"></i>
              Close debt 
            </div>
          </div>
      </div>
    <!--</div>-->
  </div>
